---
layout: flow
title: about me
sitetitle: beats, pixels, code, life
sitename: bpcl
biopage: true
resport: true
---

{% include common/header.html %}

<div id="outercontent" class='kiddphunk'>
	<div id="main">
	<div id="about">
       <div id="content">
        <div class="prepend-1 span-17">

			<div>
			<h5>Ian Timourian <!--<span style='color:#ddd'>❧</span>--></h5>
			</div>
			<p>
			<h2>Ever since I was a child I have been fascinated by <em>information</em>:<br/> What is it? When is it consumed? How is it represented? How can it be transferred? </h2>
			</p>

			<p>
			<h2>This curiousity, along with an equally strong interest in computers, led me to studied <em>Electrical/Computer Engineering</em> and <em>Computer Science</em> at Duke University and <em>Information Networking</em> at Carnegie Mellon University. Whenever possible, I would focus on aspects of user interface design or data visualization.</h2>
			</p>
		</div>
		<img id='aboutimg' src='/images/bpcl/about.jpg'/>
		<p></p>
        <div class="prepend-1 span-18 last">
			<p></p>
			<h3>Mission Statement</h3>
			<h1>My mission is to <em>visualize</em>, <em>transmit</em> and <em>transform information</em> via <em>interfaces</em>, <em>vibrations</em> and <em>experiences</em> that <em>unify</em>, <em>inspire</em> and <em>harness</em> our <em>collective spirits.</em></h1>
		</div>
        <div class="prepend-1 span-8">
			<p>
			<h4>My current focus is <em>Information Visualization</em>; as a discipline, it singularly melds my skills and interests in <em>graphic design</em>, <em>user interfaces</em>, <em>programming</em>, <em>data mining</em>, etc.
			</h4>
			</p>
		</div>
        <div class="prepend-1 span-8 append-1 last">
			<p>
			<h4>Other active areas of interest include intersections (and cross-pollinations) between art, music, distributed networks, creative collaboration, generative art, programming languages, linguistics, mobile devices, controllers.
			</h4>
			</p>
		</div>
        <div class="prepend-1 span-8">
			<p></p>
			<h3>Previous Clients</h3>
			<br>&nbsp;</br>A selection of companies and organizations I have worked with (or for) over the years:<br>&nbsp;</br><h4>
			<p>Proferi, General Electric, Akamai, MedVirginia, SproutBuilder, The Energy Foundation, Grey|SF, Merced, Sharpcast, Groovr, Kindfish, Futuretrax, Trusted Information Systems (TIS), Duke University, Carnegie Mellon University</p>
			</h4>
		</div>

        <div class="prepend-1 span-8 append-1 last">
			<p></p>
			<h3>In Print</h3>
			<p><br/>
			<a href="http://www.visualcomplexity.com/vc/book/">Visual Complexity: Mapping Patterns of Information</a><em><br/>&nbsp;&nbsp; - Manuel Lima / 2011</em></p>
			<p>
			<a href="http://seedmagazine.com">SEED Magazine</a><br/>&nbsp;&nbsp;<em> - September / 2006</em></p>
		</div>
		


        <div class="prepend-1 span-18 last">
			<p></p>
			<h3>Personal Favorites</h3>
		</div>
        <div id='aboutimgs' class="prepend-1 span-3">
			<a href='/projects/2006/05/01/delicious-discover/#article'><img src='/images/bpcl/1.jpg'></a>
			<a href='/projects/2011/10/01/visual-poetry-part-one-visualizing-gertrude-stein/#article'><img src='/images/bpcl/2.jpg'></a>
			<a href='/projects/2008/04/03/dopetracks-poster/#article'><img src='/images/bpcl/3.jpg'></a>
			<a href='/projects/2011/10/01/visual-poetry-part-two-audioizing-gertrude-stein/#article'><img src='/images/bpcl/4.jpg'></a>
		</div>




		
		
		
	</div>
	</div>
	</div>
	<div class="side">
           {% include common/sidebar1.html %}
	</div>
</div>
<div id="footer">{% include common/footer.html%}</div>
