<script src="/js/underscore-min.js"></script>
<script src="/js/jquery-1.11.0.min.js"></script>
<script src="/js/parallax.js"></script>
<script>
	$($('.parallax-window')[0]).parallax({imageSrc: '/images/projects/paxled/process/IMG_4454.JPG'})

</script>
</body>


<div>
    <div class="parallax-window" data-parallax="scroll" data-image-src="image/3.png">
    </div>
<div id='main'>
  <header >
    <div class="chart-logo"></div>
    <div style="float:right;padding-right:10px" class="chart-subtitle">
<!--       <a href=''>Introduction</a>
      <a href=''>Gertrude Stein</a>
      <a href=''>Dr. Seuss</a>
      <a href=''>Other Examples</a>
      <a href=''>Pop Music</a>
 -->    
    </div>
  </header>
</div>
<div class='index-section'>
  <div class="chart-title">TEST</div><p></p>
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="image/1.png"></div>

<div class='index-section'>

  <div class="chart-title">TEST</div><p></p>

  <table>
  <tr>
  <td>
    <img align='left' src='thumbs/stein/400/mmw3.png'>
  </td>
  <td>
    <div style="padding:20px">
      +1 art party celiac blog 90's. Wolf yr taxidermy waistcoat leggings, listicle pork belly PBR&B affogato brooklyn tousled organic drinking vinegar. Drinking vinegar kale chips viral migas, blog squid waistcoat salvia tofu next level kickstarter. YOLO etsy brooklyn fingerstache, shoreditch man braid paleo. Offal tote bag helvetica, twee listicle direct trade everyday carry pug venmo dreamcatcher cred mumblecore. Letterpress chillwave tattooed, salvia try-hard yr scenester mumblecore man braid kickstarter. Celiac iPhone craft beer church-key gluten-free.
      <p></p> 
      Post-ironic four dollar toast seitan cold-pressed helvetica asymmetrical hashtag, tacos cronut raw denim church-key viral. Messenger bag typewriter kombucha tousled four loko 90's, narwhal tofu health goth. Brunch sriracha man braid cornhole, mustache try-hard taxidermy. Cliche artisan chartreuse, godard fixie intelligentsia portland pitchfork keffiyeh lo-fi aesthetic tousled gochujang. Lumbersexual pickled distillery tacos ethical. Distillery pinterest pop-up pug microdosing, 3 wolf moon blog. Fap street art biodiesel austin, drinking vinegar man braid letterpress slow-carb keytar gentrify heirloom XOXO craft beer 90's pug.
      <p></p>
      Mumblecore four loko 90's PBR&B twee XOXO gluten-free authentic meh YOLO, asymmetrical cronut. Portland poutine bitters leggings marfa, affogato vegan intelligentsia church-key crucifix VHS raw denim retro. Banh mi you probably haven't heard of them pop-up yuccie, aesthetic microdosing knausgaard trust fund shoreditch offal asymmetrical disrupt bushwick forage lomo. Art party swag poutine banh mi forage retro. Humblebrag vinyl pitchfork next level gochujang marfa, affogato four dollar toast slow-carb godard roof party street art kinfolk yuccie meggings. Drinking vinegar irony marfa, leggings williamsburg cardigan disrupt poutine farm-to-table migas banh mi fashion axe forage. Selfies paleo scenester drinking vinegar, whatever kale chips lo-fi trust fund biodiesel master cleanse stumptown PBR&B vice mustache.
      <p></p>
      Retro portland brooklyn wayfarers PBR&B actually. Letterpress gochujang lumbersexual listicle trust fund. Church-key YOLO umami, ugh shabby chic slow-carb 90's flexitarian. Kogi four loko seitan ramps letterpress. Intelligentsia etsy you probably haven't heard of them, cardigan celiac YOLO craft beer bespoke pork belly forage williamsburg fanny pack asymmetrical. Brunch echo park tousled thundercats. Brunch health goth ennui cardigan polaroid chillwave, pitchfork pabst bushwick blog freegan blue bottle meh.
    </div>
  </td>
  </tr>
  <tr>
  <td colspan='2'>
    <div class="demo-gallery">
        <ul id="lightgallery1" class="list-unstyled row">
        <!-- data-responsive="thumbs/stein/200/mmw1.png 200, thumbs/stein/400/mmw1.png 400, thumbs/stein/800/mmw1.png 800"  -->
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="{{'thumbs/stein/full/'+source}}" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it1" data-tweet-text="share on twitter 1"
            ng-repeat="source in getStein()">
                <a href="">
                    <img class="img-responsive" src="thumbs/stein/200/{{source}}">
                </a>
            </li>
        </ul>
    </div>  
  </td>
  </tr>
  </table>


</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="image/2.png"></div>

<div class='index-section'>

<div class="chart-title">Dr. Seuss</div><p>

  <table>
  <tr>
  <td>
    <img align='left' src='thumbs/stein/400/mmw3.png'>
  </td>
  <td>
    <div style="padding:20px">
      +1 art party celiac blog 90's. Wolf yr taxidermy waistcoat leggings, listicle pork belly PBR&B affogato brooklyn tousled organic drinking vinegar. Drinking vinegar kale chips viral migas, blog squid waistcoat salvia tofu next level kickstarter. YOLO etsy brooklyn fingerstache, shoreditch man braid paleo. Offal tote bag helvetica, twee listicle direct trade everyday carry pug venmo dreamcatcher cred mumblecore. Letterpress chillwave tattooed, salvia try-hard yr scenester mumblecore man braid kickstarter. Celiac iPhone craft beer church-key gluten-free.
      <p></p> 
      Post-ironic four dollar toast seitan cold-pressed helvetica asymmetrical hashtag, tacos cronut raw denim church-key viral. Messenger bag typewriter kombucha tousled four loko 90's, narwhal tofu health goth. Brunch sriracha man braid cornhole, mustache try-hard taxidermy. Cliche artisan chartreuse, godard fixie intelligentsia portland pitchfork keffiyeh lo-fi aesthetic tousled gochujang. Lumbersexual pickled distillery tacos ethical. Distillery pinterest pop-up pug microdosing, 3 wolf moon blog. Fap street art biodiesel austin, drinking vinegar man braid letterpress slow-carb keytar gentrify heirloom XOXO craft beer 90's pug.
      <p></p>
      Mumblecore four loko 90's PBR&B twee XOXO gluten-free authentic meh YOLO, asymmetrical cronut. Portland poutine bitters leggings marfa, affogato vegan intelligentsia church-key crucifix VHS raw denim retro. Banh mi you probably haven't heard of them pop-up yuccie, aesthetic microdosing knausgaard trust fund shoreditch offal asymmetrical disrupt bushwick forage lomo. Art party swag poutine banh mi forage retro. Humblebrag vinyl pitchfork next level gochujang marfa, affogato four dollar toast slow-carb godard roof party street art kinfolk yuccie meggings. Drinking vinegar irony marfa, leggings williamsburg cardigan disrupt poutine farm-to-table migas banh mi fashion axe forage. Selfies paleo scenester drinking vinegar, whatever kale chips lo-fi trust fund biodiesel master cleanse stumptown PBR&B vice mustache.
      <p></p>
      Retro portland brooklyn wayfarers PBR&B actually. Letterpress gochujang lumbersexual listicle trust fund. Church-key YOLO umami, ugh shabby chic slow-carb 90's flexitarian. Kogi four loko seitan ramps letterpress. Intelligentsia etsy you probably haven't heard of them, cardigan celiac YOLO craft beer bespoke pork belly forage williamsburg fanny pack asymmetrical. Brunch echo park tousled thundercats. Brunch health goth ennui cardigan polaroid chillwave, pitchfork pabst bushwick blog freegan blue bottle meh.
    </div>
  </td>
  </tr>
  <tr>
  <td colspan='2'>
    <div class="demo-gallery">
        <ul id="lightgallery2" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="{{'thumbs/seuss/full/'+source}}" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it1" data-tweet-text="share on twitter 1"
            ng-repeat="source in getSeuss()">
                <a href="">
                    <img class="img-responsive" src="thumbs/seuss/200/{{source}}">
                </a>
            </li>
        </ul>
    </div>  
  </td>
  </tr>
  </table>
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="image/4.png"></div>

<div class='index-section'>

<div id='examples' class="chart-title">Poems, Rhymes and Other Such Assemblages From Words</div><p>

  <table>
  <tr>
  <td>
    <img align='left' src='thumbs/stein/400/mmw3.png'>
  </td>
  <td>
    <div style="padding:20px">
      +1 art party celiac blog 90's. Wolf yr taxidermy waistcoat leggings, listicle pork belly PBR&B affogato brooklyn tousled organic drinking vinegar. Drinking vinegar kale chips viral migas, blog squid waistcoat salvia tofu next level kickstarter. YOLO etsy brooklyn fingerstache, shoreditch man braid paleo. Offal tote bag helvetica, twee listicle direct trade everyday carry pug venmo dreamcatcher cred mumblecore. Letterpress chillwave tattooed, salvia try-hard yr scenester mumblecore man braid kickstarter. Celiac iPhone craft beer church-key gluten-free.
      <p></p> 
      Post-ironic four dollar toast seitan cold-pressed helvetica asymmetrical hashtag, tacos cronut raw denim church-key viral. Messenger bag typewriter kombucha tousled four loko 90's, narwhal tofu health goth. Brunch sriracha man braid cornhole, mustache try-hard taxidermy. Cliche artisan chartreuse, godard fixie intelligentsia portland pitchfork keffiyeh lo-fi aesthetic tousled gochujang. Lumbersexual pickled distillery tacos ethical. Distillery pinterest pop-up pug microdosing, 3 wolf moon blog. Fap street art biodiesel austin, drinking vinegar man braid letterpress slow-carb keytar gentrify heirloom XOXO craft beer 90's pug.
      <p></p>
      Mumblecore four loko 90's PBR&B twee XOXO gluten-free authentic meh YOLO, asymmetrical cronut. Portland poutine bitters leggings marfa, affogato vegan intelligentsia church-key crucifix VHS raw denim retro. Banh mi you probably haven't heard of them pop-up yuccie, aesthetic microdosing knausgaard trust fund shoreditch offal asymmetrical disrupt bushwick forage lomo. Art party swag poutine banh mi forage retro. Humblebrag vinyl pitchfork next level gochujang marfa, affogato four dollar toast slow-carb godard roof party street art kinfolk yuccie meggings. Drinking vinegar irony marfa, leggings williamsburg cardigan disrupt poutine farm-to-table migas banh mi fashion axe forage. Selfies paleo scenester drinking vinegar, whatever kale chips lo-fi trust fund biodiesel master cleanse stumptown PBR&B vice mustache.
      <p></p>
      Retro portland brooklyn wayfarers PBR&B actually. Letterpress gochujang lumbersexual listicle trust fund. Church-key YOLO umami, ugh shabby chic slow-carb 90's flexitarian. Kogi four loko seitan ramps letterpress. Intelligentsia etsy you probably haven't heard of them, cardigan celiac YOLO craft beer bespoke pork belly forage williamsburg fanny pack asymmetrical. Brunch echo park tousled thundercats. Brunch health goth ennui cardigan polaroid chillwave, pitchfork pabst bushwick blog freegan blue bottle meh.
    </div>
  </td>
  </tr>
  <tr>
  <td colspan='2'>
    <div class="demo-gallery">
        <ul id="lightgallery3" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="{{'thumbs/examples/full/'+source}}" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it1" data-tweet-text="share on twitter 1"
            ng-repeat="source in getExamples()">
                <a href="">
                    <img class="img-responsive" src="thumbs/examples/200/{{source}}">
                </a>
            </li>
        </ul>
    </div>  
  </td>
  </tr>
  </table>
</div>


<div class="parallax-window" data-parallax="scroll" data-image-src="image/5.png"></div>

<div class='index-section'>

<div class="chart-title">30 Years of Pop Music</div><p>

<table>
  <tr>
  <td>
    <img align='left' src='thumbs/stein/400/mmw3.png'>
  </td>
  <td>
    <div style="padding:20px">
      +1 art party celiac blog 90's. Wolf yr taxidermy waistcoat leggings, listicle pork belly PBR&B affogato brooklyn tousled organic drinking vinegar. Drinking vinegar kale chips viral migas, blog squid waistcoat salvia tofu next level kickstarter. YOLO etsy brooklyn fingerstache, shoreditch man braid paleo. Offal tote bag helvetica, twee listicle direct trade everyday carry pug venmo dreamcatcher cred mumblecore. Letterpress chillwave tattooed, salvia try-hard yr scenester mumblecore man braid kickstarter. Celiac iPhone craft beer church-key gluten-free.
      <p></p> 
      Post-ironic four dollar toast seitan cold-pressed helvetica asymmetrical hashtag, tacos cronut raw denim church-key viral. Messenger bag typewriter kombucha tousled four loko 90's, narwhal tofu health goth. Brunch sriracha man braid cornhole, mustache try-hard taxidermy. Cliche artisan chartreuse, godard fixie intelligentsia portland pitchfork keffiyeh lo-fi aesthetic tousled gochujang. Lumbersexual pickled distillery tacos ethical. Distillery pinterest pop-up pug microdosing, 3 wolf moon blog. Fap street art biodiesel austin, drinking vinegar man braid letterpress slow-carb keytar gentrify heirloom XOXO craft beer 90's pug.
      <p></p>
      Mumblecore four loko 90's PBR&B twee XOXO gluten-free authentic meh YOLO, asymmetrical cronut. Portland poutine bitters leggings marfa, affogato vegan intelligentsia church-key crucifix VHS raw denim retro. Banh mi you probably haven't heard of them pop-up yuccie, aesthetic microdosing knausgaard trust fund shoreditch offal asymmetrical disrupt bushwick forage lomo. Art party swag poutine banh mi forage retro. Humblebrag vinyl pitchfork next level gochujang marfa, affogato four dollar toast slow-carb godard roof party street art kinfolk yuccie meggings. Drinking vinegar irony marfa, leggings williamsburg cardigan disrupt poutine farm-to-table migas banh mi fashion axe forage. Selfies paleo scenester drinking vinegar, whatever kale chips lo-fi trust fund biodiesel master cleanse stumptown PBR&B vice mustache.
      <p></p>
      Retro portland brooklyn wayfarers PBR&B actually. Letterpress gochujang lumbersexual listicle trust fund. Church-key YOLO umami, ugh shabby chic slow-carb 90's flexitarian. Kogi four loko seitan ramps letterpress. Intelligentsia etsy you probably haven't heard of them, cardigan celiac YOLO craft beer bespoke pork belly forage williamsburg fanny pack asymmetrical. Brunch echo park tousled thundercats. Brunch health goth ennui cardigan polaroid chillwave, pitchfork pabst bushwick blog freegan blue bottle meh.
    </div>
  </td>
  </tr>
  <tr>
  <td colspan='2' style='background:white'>
    <div class="demo-gallery" ng-repeat="source in getBillboard()">
        <div class='list-index'>
          {{source}}
        </div>
        <ul id="lightgallery{{$index+3}}" class="list-unstyled row">
            <li data-src="{{'thumbs/billboard/full/'+source+'_'+year+'.png'}}" 
                data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" 
                data-pinterest-text="Pin it1" 
                data-tweet-text="share on twitter 1" 
                ng-repeat="year in [1,2,3,4,5,6,7,8,9,10]">
                <a href="" style="border-color:#eee; background:#fff">
                    <img class="img-responsive" src="thumbs/billboard/200/{{source}}_{{year}}.png">
                </a>
            </li>
        </ul>
    </div>  
  </td>
  </tr>
  </table>
</p>
    
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="image/6.png"></div>


