<div class="influenceImage" id="influenceImage8" alt='<a href="#earthasart.gsfc.nasa.gov/index.htm">landsat satellite</a>' src='small.earth.as.art.jpg'></div>
<div class="influenceImage" id="influenceImage9" alt='<a href="#en.wikipedia.org/wiki/Jackson_Pollack">jackson pollack</a>' src='small.jackson.pollack.jpg'></div>
<div class="influenceImage" id="influenceImage10" alt='<a href="#complexification.net">jared tarbell</a>' src='small.jared.tarbell.jpg'></div>
<div class="influenceImage" id="influenceImage11" alt='<a href="#www.number27.org">jonathan harris</a>' src='small.jon.harris.jpg'></div>
<div class="influenceImage" id="influenceImage12" alt='<a href="#benfry.com">ben fry</a>' src='small.ben.fry.jpg'></div>
<!--
<div class="influenceImage" id="influenceImage13" alt='<a href="#kiddphunk.com">my highest self</a>' src='small.onelove.photography.jpg'></div>
-->
<div class="influenceImage" id="influenceImage13" alt='<a href="#en.wikipedia.org/wiki/Ansel_Adams">ansel adams</a>' src='small.ansel.adams.jpg'></div>
<div class="influenceImage" id="influenceImage14" alt='<a href="#http://en.wikipedia.org/wiki/Henri_Cartier-Bresson">henri cartier-bresson</a>' src='small.henri.cartier-bresson.jpg'></div>
