<div class="influenceImage" id="influenceImage15" alt='<a href="#aintshite.com">akira takahashi</a>' src='small.akira.takahashi.jpg'></div>
<div class="influenceImage" id="influenceImage16" alt='<a href="#toddbaldwintribute.com">todd baldwin</a>' src='small.todd.baldwin.jpg'></div>
<div class="influenceImage" id="influenceImage17" alt='<a href="#www.tordboontje.com">tord boontje</a>'  src='small.tord.jpg'></div>
<div class="influenceImage" id="influenceImage18" alt='<a href="#androidjones.com">android jones</a>'  src='small.andrew.jones.jpg'></div>
<div class="influenceImage" id="influenceImage19" alt='<a href="#images.google.com/images?q=wes+wilson+posters">wes wilson</a>'  src='small.wes.wilson.jpg'></div>
<div class="influenceImage" id="influenceImage20" alt='<a href="#www.myspace.com/artbyxavi">xavi</a>' src='small.xavi.jpg'></div>
<div class="influenceImage" id="influenceImage21" alt='<a href="#david platford.com">david platford</a>' src='small.david.platford.jpg'></div>
