<div class="influenceImage" id="influenceImage1" alt='<a href="#alexgrey.com">alex grey</a>' src='small.alex.grey.jpg'></div>
<div class="influenceImage" id="influenceImage2" alt='<a href="#www.matiklarweinart.com">mati klarwein</a>'  src='small.mati.klarwein.jpg'></div>
<div class="influenceImage" id="influenceImage3" alt='<a href="#hubblesite.org">hubble space telescope</a>' src='small.hubble.jpg'></div>
<div class="influenceImage" id="influenceImage4" alt='<a href="#en.wikipedia.org/wiki/Andy_Goldsworthy">andy goldsworthy</a>' src='small.andy.goldsworthy.jpg'></div>
<div class="influenceImage" id="influenceImage5" alt='<a href="#www.earthfromabove.com">yann arthus-betrand</a>' src='small.earth.from.above.jpg'></div>
<div class="influenceImage" id="influenceImage6" alt='<a href="#draves.org/blog">scott draves</a>' src='small.scott.draves.jpg'></div>
<div class="influenceImage" id="influenceImage7" alt='<a href="#en.wikipedia.org/wiki/Benoit_Mandelbrot">benoit mandelbrot</a>' src='small.benoit.mandelbrot.jpg'></div>
