
   {% if page.bodyid == 'indexpage'%}
   {% else %}
   {% endif %}
<div class="sidea">
    <h2><em>HELLO.</em></h2>
    <p>
             This is the creative blog of Ian Timourian, an <em>INFORMATION VISUALIST</em>, <em>INTERFACE DEVELOPER</em> and <em>DIGITAL ARTIST</em> residing in San Francisco.
    </p>
	{% if page.biopage %}
      		<br>&nbsp;<br>
		<center>
           <div id='biopic'></div>
		</center>
      		<br>&nbsp;<br>
	{% endif %}
    <p>
             I create and design interfaces using an ever-evolving variety of tools and languages such as: D3, CoffeeScript, JavaScript and Python.<br>&nbsp;</br>

		<h1>&raquo;&nbsp;<a href='http://beatspixelscodelife.com/about/'>about me</a></h1><br>&nbsp;</br>
    </p>                
</div>
		
<div class="sideb">
	<h2><em>CONTACT</em></h2>			
           <h1>&raquo;&nbsp;<a href='mailto:kiddphunk+bpcl@gmail.com'>kiddphunk</a> @ gmail</h1><p>

	<h2><em>SOCIAL</em></h2>
          <h1>&raquo;&nbsp;<a href='http://soundcloud.com/kiddphunk'>soundcloud</a>/kiddphunk</h1><p>
             <h1>&raquo;&nbsp;<a href='http://linkedin.com/in/kiddphunk'>linkedin</a>/in/kiddphunk</h1><p>
          <h1>&raquo;&nbsp;<a href='http://del.icio.us.com/kiddphunk'>delicious</a>/kiddphunk</h1><p>
          <h1>&raquo;&nbsp;<a href='http://github.com/kiddphunk'>github</a>/kiddphunk</h1><p>
          <h1>&raquo;&nbsp;<a href='http://twitter.com/kiddphunk'>twitter</a>/kiddphunk</h1><p>
          <h1>&raquo;&nbsp;<a href='http://vimeo.com/user6780316'>vimeo</a></h1><p>

	<h2><em>SITES</em></h2>
      <h1 style='color:transparent;margin-bottom:4px'>&raquo;&nbsp;<span style='text-transform: uppercase;font-size:10px;color:#999;'>Data Visualization</span><br></h1>      
      <h1>&raquo;&nbsp;<a href='http://beatspixelscodelife.com'>beatspixelscodelife</a>.com</h1>
      <h1 style='color:transparent;margin-bottom:4px'>&raquo;&nbsp;<span style='text-transform: uppercase;font-size:10px;color:#999;'>Artistic Creations</span><br></h1>      
      <h1>&raquo;&nbsp;<a href='http://kiddphunk.com'>kiddphunk</a>.com</h1>
          <!-- <h1>&raquo;&nbsp;<a href='http://mandalabrot.net'>mandalabrot</a>.net</h1> -->
          <p>
	  <br>&nbsp;</br>

</div>

<div class="sidec">
    <h2 class="beats">I seek inventiveness</h2>
    <p>emerging in and from: group collaboration, social networks, distributed systems and natural processes.</p>

    <h2 class="pixels">I reflect beauty</h2>
    <p>in the process of distilling and visualizing data from complex networks, information sets and disparate resources.</p>

    <h2 class="code">I craft algorithms</h2>
    <p>that codify art and design, generating algorithmically creative and fractal forms of digital output.</p>

    <h2 class="life">I bridge worlds</h2>
    <p>in order to interface with, translate between, and "mash-up" varied disciplines and forms of visionary expression.</p>
</div>			

{% if page.biopage %}
	<div class='prepend-1 span-18 last'>
		<h2>INFLUENCES</h2>
	</div>			
	<div class="sidea">
          {% include common/influences1.html %}
	</div>

	<div class="sideb">
          {% include common/influences2.html %}
	</div>

	<div class="sidec">
          {% include common/influences3.html %}
	</div>		
	{%include common/influences_meta.html%}
{% endif %}
