<body class='rootWrapper darkbody'>
<link rel="stylesheet" type="text/css" href="/css/gallery/demo.css" />
<link rel="stylesheet" type="text/css" href="/css/gallery/component.css" />

<script src="/js/underscore-min.js"></script>
<script src="/js/jquery-1.11.0.min.js"></script>
<script src="/js/modernizr.custom.min.js"></script>
<script src="/js/gallery/imagesloaded.pkgd.min.js"></script>
<script src="/js/gallery/masonry.pkgd.min.js"></script>
<script src="/js/gallery/classie.js"></script>
<script src="/js/gallery/cbpGridGallery.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Dosis:200,400,700|PT+Serif:400,700,400italic|Raleway:400,100,200,800,900|Archivo+Narrow:400,700|Montserrat:400,700' rel='stylesheet' type='text/css'>

<style>
body {
  color: #aaa;
  font-size: 12px;
  font-family: "Raleway", "HelveticaNeue-Light", "Helvetica Neue", Helvetica,  "report-1","report-2", Arial, sans-serif;
  /*
    -webkit-user-select:none;
      -webkit-text-size-adjust:none;    
  */
}

.bgimg {
  background-size: contain;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;	
  background-position: 50% 33%;
}
.divider {
  color: #666;
}

.beats {
  color: #ff6600;
}

.pixels {
  color: #ff0080;
}

.code {
  color: #00aaea;
}

.life {
  color: #00f300;
}

#bodyscreen {
  background: url(http://kiddphunk.com/images/darkscreen.png);
  background-attachment: fixed;
  /*    background: #333;*/
  -moz-background-size: cover;
  background-size: cover;
}

#topimg {
  background-size: contain;
  background-repeat: repeat-x;
  width: 100%;
  height:200px;	
  border:none;
}

.darkbody {
  background-color: #000;
  background-image: none !important;
}

table td {
	padding:10px;
}

</style>

<div id="header">
<a href='/'>
	<div id='topimg' style="border:none;background-image:url(/images/kiddphunk/header2.jpg)"></div>
</a>
</div>
<table style="width:100%">
	<tr>
		<td width="33%">
			<center>
				<h3 style='visibility:hidden'>kiddphunk <span class='divider'>//</span> <span class='beats'>beats.</span> <span class='pixels'>pixels.</span> <span class='code'>code.</span> <span class='life'>life.</span>	</h3><br>
				<h3 style="font-size:1.2em">
					The Symbiosis Gathering has been my favorite festival for a decade and one that holds a special place in my heart. 
					<p>A decade ago, my mind was blown/inspirired/expanded in the presence of such an overflowing of creativity; it was - and continues to be - a true inspiration that actively demonstrates such a next-level beauty in music, art, design, tribe, dance and myriad other aspects.
				</h3>
			</center>
		</td>
		<td width="33%">
			<center>
				<h3>kiddphunk <span class='divider'>//</span> <span class='beats'>beats.</span> <span class='pixels'>pixels.</span> <span class='code'>code.</span> <span class='life'>life.</span>	</h3><br>
				<h3 style="font-size:1.2em">
					~ Symbiosis Visions ~<p>
				</h3>
			    <img style="height:200px" src="/images/projects/symbiosis/gallery/large/0.jpg"/>
			</center>
		</td>
		<td width="33%">
			<center>
				<h3 style='visibility:hidden'>kiddphunk <span class='divider'>//</span> <span class='beats'>beats.</span> <span class='pixels'>pixels.</span> <span class='code'>code.</span> <span class='life'>life.</span>	</h3><br>
			    <h3 style="font-size:1.2em">
					While I have attended every year that it has been held since 2006, some years I have been too busy dancing round-the-clock and have not taken out my camera. On a few solid occasions however I have worn my photographer's hat; this is a collage using images from three different gatherings.
					<p>
					Thank you Symbiosis crew for performing the incredible, and for manifesting the indescribable!

				</h3>
			</center>
		</td>
	</tr>
</table>
<br>
<div class="container" id="bodyscreen">
	<div id="grid-gallery" class="grid-gallery">
		<section class="grid-wrap">
			<ul class="grid">
				<li class="grid-sizer"></li><!-- for Masonry column width -->
				<!-- <li><figure><img src="/images/projects/symbiosis/gallery/large/0.jpg"/></figure></li> -->
			</ul>
		</section><!-- // grid-wrap -->
		<section class="slideshow">
			<ul>
				<!-- <li><figure><img src="/images/projects/symbiosis/gallery/large/0.jpg"/></figure></li>			 -->
			</ul>
			<nav>
				<span class="icon nav-prev"></span>
				<span class="icon nav-next"></span>
				<span class="icon nav-close"></span>
			</nav>
			<div class="info-keys icon">Navigate with arrow keys</div>
		</section><!-- // slideshow -->
	</div><!-- // grid-gallery -->
</div>
<script>
	vals = []
	for (i=1; i<123; i++) 
		vals.push(i);
	vals = _.shuffle(vals)
	for (i=1; i<122; i++) {
		$('.grid-wrap ul')
			.append('<li><figure><img src="/images/projects/symbiosis/gallery/large/'+vals[i]+'.jpg"/></figure></li>')
		$('.slideshow ul')
			.append('<li><figure><div class="bgimg" style="background-image:url(/images/projects/symbiosis/gallery/large/'+vals[i]+'.jpg)"/></figure></li>')
	}
	new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
</script>
</body>




