---
layout: flow
---
{% include common/header.html %}

<div id="outercontent">
	<div id="main" class='singlepost'>


    <div class="apple_overlay" id="overlay">
    	<div class="contentWrap"></div>
    </div>

    <div id="content">


      <ul class="isoContent">
          <li class='post' id='{% if page.halfsize %}halfsize{%endif%}'>
              {% if page.image %}
                <img class='mainimage {% if page.halfsize %}halfsize{%endif%}' src='{{page.image}}'>
              {% else %}
                <div class='genericimg'></div>
              {% endif %}

            <a name='article' id='article'></a>
            <div {% if page.bgcolor %}style='background-color:#{{page.bgcolor}}'{% endif %}  class='postinfo {% if page.image %}nongeneric{% else %}generic{% endif %}'><a href="{{ page.url }}">{{ page.title }}</a>{% if page.date %}&#8226;<span>{{ page.date | date_to_long_string }}</span>{% endif %}{% if page.altdate %}&#8226;<span>{{ page.altdate }}</span>{% endif %}</div>          
            <div class='postcontent' {% if page.bgcolor %}style='background-color:#{{page.bgcolor}}'{% endif %}>
                <div class='innerpostcontent'>
                    <div class="container showgrid2">

                        {{ content }}


				{% if page.share %}
	                    <div class="prepend-7 span-10 last">
							<p></p>
							<h1>
								Share 
							</h1>
						</div>
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style " style="background-color:#{{page.bgcolor}}">
				<p>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_facebook_like"></a>
				<a class="addthis_button_hackernews"></a>
				<a class="addthis_button_tumblr"></a>
				<a class="addthis_button_delicious"></a>

				<a class="addthis_button_preferred_1"></a>
				<a class="addthis_button_preferred_2"></a>
				<a class="addthis_button_preferred_3"></a>
				<a class="addthis_button_preferred_4"></a>
				<a class="addthis_button_preferred_5"></a>
				<a class="addthis_button_preferred_6"></a>
				<a class="addthis_button_preferred_7"></a>
				<a class="addthis_button_compact"></a>
				<a class="addthis_counter addthis_bubble_style"></a>
				</p>
				</div>
				<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e76612466d8a38d"></script>
				<!-- AddThis Button END -->
				{% endif %}
	
				{% if page.fbcomments %}
					<p></p>

				<hr>
	                    <div class="prepend-7 span-10 last">
							<h1>
								<fb:comments-count href={{site.commenturl}}{{page.url}}></fb:comments-count> comments 
							</h1>
						</div>
				<hr>
				<div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) {return;}
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>

				<div class="fb-comments" data-href="{{site.commenturl}}{{page.url}}" data-num-posts="2" data-width="500"></div>
			{% endif %}

<p></p>

                        {% if page.bottomimage %}
	                    <div class="span-19 fullbox last">
                    		<img src='{{page.bottomimage}}' {% if page.bgcolor %}style='border-top:5px solid #{{page.bgcolor}}'{% endif %}>
                    	</div>
                    	{% endif %}
                    </div>
                </div>
            </div>          

          </li>
      </ul>
    </div>





	</div>
	<div class="side">

        {% include common/sidebar1.html %}
	</div>
</div>
<div id="footer">
        {% include common/footer.html %}
</div>






